<h1>Beer Labels</h1>

<div class="row">
  <div class="col-sm-6 col-md-3">
      <% @beer_labels.each do |label| %>
        <%= link_to image_tag(label.image_url(:index_thumb)), beer_label_path(label) %>
      <%- end -%>
  </div>
</div>

<%= link_to 'Upload New Beer Label', new_beer_label_path %>
