<h1>Beer Labels</h1>

<div class="row">

      <% @beer_labels.each do |label| %>
        <div class="beer_label">
          <%= link_to image_tag(label.image_url(:index_thumb)), beer_label_path(label) %>
          <%= link_to 'Remove', beer_label_path(label), method: :delete %></li>
        </div>
      <%- end -%>

</div>

<%= link_to 'Upload New Beer Label', new_beer_label_path, class: "btn btn-primary btn-lg" %>
