<%- if comment.persisted? %>
  <table class="table">

    <tr>
      "<%= comment.user_comment %>"<br>
      by <%= comment.user.email %><br>
      on <%= comment.created_at %>
    </tr>
  </table>

  <p>
    <% if comment.user_comment? %>
      <%= link_to 'Delete Comment', [comment.beer_label, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
<%- end -%>
