<p>
  <%= comment.user_comment %>
</p>

<p>
  <% if comment.user_comment? %>
    <%= link_to 'Delete Comment', [comment.beer_label, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>

