.sign-up-options {
  list-style:none ;
}

.thumbnail {
  height: 171px;
  width: 180;
}

.beer-label-thumbnails {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

li {
  display: inline-block;
}

.beer_label {
  display: inline-block;
}
